<% content_for :content do %>
    <main role="main" class="container">

<%if current_user.admin == true%>
    <%= render 'form', user_id: @dealer_form.user.id, dealer_form: @dealer_form%>

<p>
    <%= link_to 'Back', dealer_forms_path %>
    <%= link_to 'Home', home_path%>
</p>

    <%else%>
    <%= render 'form', user_id: @dealer_form.user.id, dealer_form: @dealer_form%>

<%end%>
    <%end%>
</main><!-- /.container -->