<main role="main" class="container">

    <h1>Edit Dealer Form</h1>


    <%= render 'form', user_id: @dealer_form.user.id, dealer_form: @dealer_form%>

<p>
    <%= link_to 'Back', users_path %>
</p>
</main><!-- /.container -->