<% content_for :content do %>
    <main role="main" class="container">

    <%if current_user.admin == true%>

    <%= render 'form', user_id: @panelist_form.user.id, panelist_form: @panelist_form%>

<p>
    <%= link_to 'Back', panelist_forms_path %>
    <%= link_to 'Home', home_path%>
</p>

    <%else%>
    <%= render 'form', user_id: @panelist_form.user.id, panelist_form: @panelist_form%>


    <%end%>
    <%end%>
</main><!-- /.container -->