<main role="main" class="container">

    <h1>Edit Panelist Form</h1>


    <%= render 'form', user_id: @panelist_form.user.id, panelist_form: @panelist_form%>

<p>
    <%= link_to 'Home', home_path%>
</p>
</main><!-- /.container -->