<main role="main" class="container">

    <h1>Edit Registration Form</h1>


    <%= render 'form', user_id: @registration_form.user.id, registration_form: @registration_form%>

<p>
    <%= link_to 'Back', users_path %>
</p>
</main><!-- /.container -->