<% content_for :content do %>
    <main role="main" class="container">
<h2>Sam Flegal</h2>
<%= image_tag("sam_head240X300.jpg", alt: "Sam Flegal - Artist Guest of Honor") %>
<h3>About</h3>
<p>
Sam is an independent illustrator and co-host of One Fantastic Week, a weekly webshow about self employed fantasy artists. He also teaches and speaks at numerous conventions, colleges, workshops (including The Fantastic Workshop hosted by 1FW), and other events. Some of the topics Sam covers are salesmanship, art, breaking into the game industry, and succeeding as an independent artist.
<br><br>
In his personal work Sam explores his passion for Norse Mythology, a series called Fateful Signs. Learn more at FatefulSigns.com
</p>

<%end%>
</main>