<% content_for :content do %>
    <main role="main" class="container">
    <div class="justify-content-center">
    <h2>Timothy Zahn</h2>
    <%= image_tag("Zahn-Pub-Photo-Color-240x300.jpg", alt: "Timothy Zahn - Author Guest of Honor") %>
    </div>
    <h3>About</h3>
    <p>Timothy Zahn, born September 1, 1951, is an American writer of science fiction and fantasy. 
    He is known for the Thrawn series of Star Wars novels, and has published several other series 
    of science fiction and fantasy novels, in addition to a large body of short fiction work.
    </p>
    <h4>Career</h4>
    <p>
    Zahn's novella Cascade Point won the 1984 Hugo Award. He has also written a plethora of other novels, 
    including, but not limited to: 
    <dl>
        <dt>The Blackcollar Trilogy</dt>
        <dt>The Cobra Series</dt>
        <dt>Twelve Star Wars expanded universe novels</dt>
            <dd>Grand Admiral Thrawn: the Thrawn Trilogy</dd>
            <dd>The Hand of Thrawn Duology</dd>
            <dd>Outbound Flight</dd>
            <dd>Choices of One</dd>
            <dd>Star Wars: Thrawn</dd>
            <dd>Star Wars: Thrawn: Alliances</dd>
        <dt>The Dragonback Series</dt>
        <dt>Conqueror's Trilogy</dt>
        <dt>For a full bibilography, you can visit <%= link_to "Zahn's Fantastic Fiction profile", "https://www.fantasticfiction.com/z/timothy-zahn/" %>
    </dl>
    </p>
    <p>
    When Zahn started work on the Thrawn Trilogy, LucasFilm provided him with <i class="bookTitle">Star Wars:
    The Roleplaying Game</i> sourcebooks from West End Games, for source material. In turn, West End relased
    sourcebooks based on the Thrawn Trilogy from 1992 - 1994.
    </p>
    <p>
    The Thrawn trilogy marked a revival in the fortunes of the Star Wars franchise, bringing it widespread 
    attention for the first time in years; all three Thrawn trilogy novels made the New York Times Best 
    Seller List, and set the stage and tone for most of the franchise's expanded universe content. 
    </p>
    <%end%>
    </main>