<% content_for :content do %>
    <main role="main" class="container">
    <h2>Tom Nguyen</h2>
    <%= image_tag("Tom-Nguyen-240x300.jpg", alt: "Tom Nguyen - Comics Guest of Honor") %>
    <h3>About</h3>
    <p>
    Tom Nguyen is a professional comic book artist and illustrator. He began his career in 1997 working for DC Comics on the first issue of Major Bummer. Later he worked on titles as Superman: The Man of Steel, Action Comics, JLA, Batman and many more.
    <br><br>
    Most recently he has worked on titles as Batwoman, Justice League of America and Catwoman; all part of the New 52 series.
    </p>



    <%end%>
    </main>