<% content_for :content do %>
    <main role="main" class="container">
<h2>Michael & Margie Vizcarra Cox</h2>
<%= image_tag("Batman-50-Jim-Lee-Cover-240x300.jpg", alt: "Michael & Margie Vizcarra Cox - Costuming Guests of Honor") %>
<h3>About</h3>
<p>
Michael and Margie Vizcarra Cox are cosplayers from Atlanta, Georgia. They’ve been married and costuming for 12 years. 
In addition to conventions, they put on costumes for <%= link_to "Heroes Alliance", "http://www.heroesalliance.org/" %>,
 a charity that strives to bring a real-life superhero experience to sick, disabled, and underprivileged children. 
 They’ve brought their love of superheroes to children in Tampa, FL; Ft. Hood, TX; and Atlanta, GA.
</p>
<p>
Besides costuming, Michael is a U.S. Army veteran who now works in logistics in the private sector. 
Margie is a Corrective Exercise/Movement Pattern Specialist, costume designer at the <%= link_to "ThatChicGeekBoutique", "https://www.etsy.com/shop/ThatChicGeekBoutique"%> 
store on Etsy, and actor.
</p>
<p>
They share their life with their three dogs and foster many others for a local animal rescue.
</p>
<p>
The family who cosplays together, stays together.
</p>

<%end%>
</main>