<% provide(:title, 'Panel Info')%>

    <main role="main" class="container">

      <div class="starter-template">

        <h1>Midsouth Con Dealers</h1>
        
        <p>
        <%= link_to "Back", eventinfo_path%><br>
        <%= link_to "Home", home_path %>
        </p>
              
              
        </div>

    </main><!-- /.container -->