<% content_for :content do %>
    <main role="main" class="container">
<h2>Gordon Van Gelder</h2>
<%= image_tag("van-gelder-gordon-april-2017-pic-by-Leslie-Howle240x300.jpg", alt: "Gordon Van Gelder - Editor Guest of Honor - Photo credit: Leslie Howle") %>
<h3>About</h3>
<p>
Gordon Van Gelder, born 1966, is an American science fiction editor. Van Gelder was editor and later publisher of 
<%= link_to "The Magazine of Fantasy & Science Fiction", "https://www.sfsite.com/fsf/" %> from 1997 - 2014, 
for which he has twice won the Hugo Award for Best Editor Short Form. He was also a managing editor of 
<%= link_to "The New York Review of Science Fiction", "https://www.nyrsf.com/" %> from 1988 to 1993, 
for which he was nominated for the Hugo Award a number of times. In January 2015, Van Gelder has stepped down as editor of 
    Fantasy & Science Fiction in favor of Charles Coleman Finlay, but remains publisher of the magazine.
</p>

<h3>Career</h3>
<p>
He was born in 1966. After graduating from Princeton University (where he edited a science fiction magazine called 
<i class="bookTitle">Infinity</i>), Van Gelder started working as an editorial assistant at St. Martin's Press in 1988, 
later rising to full editor. In January 1997, he became the editor of <i class="bookTitle">The Magazine of Fantasy & Science Fiction</i> (F&SF)
upon the resignation of Kristine Kathryn Rusch. He continued working at St. Martin's until October 2000, 
when he bought the magazine from Edward L. Ferman to become its publisher.
</p>
<p>
During his tenure, F&SF became the second longest-running science fiction magazine, surpassing <i class="bookTitle">Amazing Stories</i> 
in total number of issues published. It is exceeded only by <i class="bookTitle">Astounding/Analog</i>. Van Gelder also began focusing 
on the publication of themed anthologies drawing from the magazine's back list rather than the best-of annuals published when 
Ferman was the magazine's publisher. He later edited a collection of notable stories from F&SF, <i class="bookTitle">The Very Best of Fantasy & Science Fiction</i>
, published by Tachyon Publications.
</p>
<p>
Van Gelder has made some behind-the-scenes changes to F&SF. While the Fermans published the magazine through Mercury Press, 
Van Gelder founded his own press, Spilogale Inc., named for a genus of spotted skunk. He has also moved the editorial offices 
from New York City to Jersey City, New Jersey. Van Gelder currently lives in Hoboken, New Jersey. He has been an administrator 
of the Philip K. Dick Award since 1995 and an administrator of the World Fantasy Award since 2014. In 2011, OR Books released 
an anthology edited by Van Gelder, <i class="bookTitle">Welcome to the Greenhouse: Science Fiction on Climate Change</i>, 
with an introduction by journalist Elizabeth Kolbert.
</p>
<%end%>
</main>