<% provide(:title, 'Event Info')%>

    <main role="main" class="container">

      <div class="starter-template">

        <h1>Midsouth Con Information</h1>
        
        <p>
        <%= link_to "Hotels", hotels_path%><br>
        <%= link_to "Pricing Information", pricinginformation_path%><br>
        <%= link_to "Home", home_path %>
        </p>
              
              
        </div>

    </main><!-- /.container -->