<% provide(:title, 'Game Info')%>
<% content_for :content do %>
    <main role="main" class="container">

      <div class="starter-template">

        <h1>Midsouth Con Gaming Information</h1>
        
        <p>
        <%= link_to "Got a great game idea? Apply to run a game today!", gm_form2s_path %>
        </p>
              
              
        </div>

    </main><!-- /.container -->
    <%end%>