<% provide(:title, 'Home')%>

    <main role="main" class="container">

      <div class="starter-template">

        <h1>Midsouth Con</h1>

        <p>
        <%= link_to "Login or Signup", userauth_path %>
        </p>

        <p>
        <%= link_to "Information", eventinfo_path %>
        </p>

        <p>
        <%= link_to "Profile Page", profilepage_path %>
        </p>

              
              
              
        </div>

    </main><!-- /.container -->