<% provide(:title, 'Home')%>
    
    <main role="main" class="container">
      
      <div class="starter-template">

        <h1>Welcome to ConOrg Home page!</h1>
              
              
              
        </div>

    </main><!-- /.container -->