<% provide(:title, 'Pricing Info')%>

    <% content_for :content do %>
    <main role="main" class="container">
      <div class="starter-template">

        <h1>Midsouth Con Pricing</h1>
        
        <p>
        <ul>
        <li>Consuite Giveaway: $10</li>
        <li>Banquet Tickets: $25</li>
        <li>Child Pre-Registration (6 - 12 years old): $22.50</li>
        <li>Adult Pre-Regstration (Ages 13 and Up): $45</li>
        </ul></p>
              
              
        </div>
    <%end%>
    </main><!-- /.container -->