<% provide(:title, 'Pricing Info')%>

    <% content_for :content do %>
    <main role="main" class="container">
      <div class="starter-template">

        <h1>Midsouth Con Pricing</h1>
        
      
              
              
        </div>
    <%end%>
    </main><!-- /.container -->