<% provide(:title, 'Profile Page')%>

    <main role="main" class="container">

      <div class="starter-template">

        <h1>Profile Page</h1>

        <p>
        <%= link_to "Registered Users", users_path %>
        <br>
        This will later have authentication control
        </p>
        
        <p>
        <%= link_to "Home", home_path %>
        </p>
              
              
        </div>

    </main><!-- /.container -->