<% provide(:title, 'Scheduling')%>
<% content_for :content do %>
    <main role="main" class="container">

      <div class="starter-template">

        <h1>Midsouth Con Schedule</h1>
        
        <h1>Panels</h1>

          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Panelist</th>
                <th scope="col">Time</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% @panelist_forms.each do |panelist_form| %>
              <tr>
                  <td><%= panelist_form.title %></td>
                  <td><%= panelist_form.pen_name %></td>
                  <td><%= panelist_form.availability %></td>
                  
              </tr>
              <% end %>
            </tbody>
          </table>
        
        <h1>Games</h1>

          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Game</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% @gm_form2s.each do |gm_form2| %>
              <tr>
                  <td><%= gm_form2.games %></td>

                  
              </tr>
              <% end %>
            </tbody>
          </table>
            
        </div>

    </main><!-- /.container -->
    <%end%>