<% content_for :content do %>
    <main role="main" class="container">
    <h2>Jim Beall</h2>
    <%= image_tag("Jim-Beall-2018-photo240x300.jpg", alt: "Jim Beall - Science Guest of Honor") %>


    <%end%>
    </main>