<% content_for :content do %>
    <main role="main" class="container">
<h2>John Jackson Miller - Toastmaster</h2>
<%= image_tag("JJMHeadNew.jpg", alt: "John Jackson Miller - Toastmaster") %>
<h3>About</h3>
<p>
John Jackson Miller (born January 12, 1968) is an American science-fiction author, comic book writer, and commentator, known for his work on the Star Wars franchise and his research into comic book circulation history, as presented in the Standard Catalog of Comic Books series and the Comichron website.
</p>

<h3>Career</h3>
<p>
A collector of comics and publisher of mini-comics since childhood, Miller began as editor of the trade magazine Comics Retailer in 1993. Following the introduction of Magic: The Gathering, he added games to its coverage, changing the title to Comics & Games Retailer in 2001. In 1998, Miller was appointed managing editor of Comics Buyer's Guide;[3] he served as the first editor of Scrye: The Guide to Collectible Card Games following its purchase by Krause Publications in 1999. He produced much work for Comics Buyer's Guide magazine, and following the 2002 launch of the Standard Catalog of Comic Books line, worked pricing and other content from those books back into the magazine.
<br><br>
His first professional comics work appeared in 2003 in Crimson Dynamo for Marvel Comics, which led to a run on Iron Man (#73/418 – 85/430). He writes a regular column called Longbox Manifesto for regular comics magazine Comics Buyer's Guide. In 2007, he launched Comichro, a website devoted to comic-book circulation history and research. Miller was hired as a writer for the video game Sword of the New World. In early 2008, he launched a fantasy webcomic with artist Chuck Fiala called Sword & Sarcasm.
<br><br>
In 2008, he wrote the Dark Horse comic-book adaptation of Indiana Jones and the Kingdom of the Crystal Skull. In 2009, he was announced as the scripter for Mass Effect: Redemption, the first comic-book series based on the video game Mass Effect, launching in January 2010. He cowrote two more storylines, Mass Effect: Evolution and Mass Effect: Invasion.
<br><br>
In 2013 he wrote his first novel in a non-licensed universe, Overdraft: The Orion Offensive, for 47North. The work was originally released over several weeks as a Kindle Serial.
<br><br>
Star Wars work
In 2005, Miller wrote a one-shot issue of Star Wars: Empire for Dark Horse Comics, featuring Darth Vader as the main character. Next year, as part of Dark Horse relaunching their Star Wars comic line, Miller started writing the ongoing Star Wars: Knights of the Old Republic comic series, serving as a spin-off for the video game of the same name. The series proved a major success among fans and lasted for 50 issues, before coming to a conclusion in 2010. In August 2008, Wizards of the Coast released a Knights of the Old Republic guidebook for its Star Wars Roleplaying Game, which Miller co-wrote. Miller also wrote several short story tie-ins to the series, published on the StarWars.com website (no longer available). This prose work eventually led to Miller writing the Star Wars: Lost Tribe of the Sith e-book series, released for free between 2009–2012 and eventually continuing with a prose collection and the comic series of the same name in 2012.
<br><br>
In 2010 Miller began writing the Star Wars: Knight Errant comic series. Following Dark Horse changing the format of their series, it is not ongoing, but instead published as independent story arcs, separated from each other by several months. A Knight Errant novel was released in early 2011 by Del Rey, taking place between the first and second arcs of the comic series – this was Miller's first professional novel. Most recently, 2012 saw a continuation of the Knights of the Old Republic storyline with a mini-series entitled War.
<br><br>
In October 2012, Del Rey announced that Miller would write Star Wars: Kenobi, a novel about Obi-Wan Kenobi's life on Tatooine. The book was released on August 27, 2013 in hardcover, and debuted at #12 on the New York Times hardcover bestseller list. Miller subsequently wrote Star Wars: A New Dawn, which was published in 2014, a prequel to the animated television series Star Wars Rebels, which premiered on Disney XD in fall the same year. It is the first novel of the new canon that is replacing what is now known as Star Wars Legends.
</p>
<%end%>
</main>