/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 body {
     padding-top: 5rem;
     padding-left: 1.5rem;
     padding-right: 1.5rem;
     background-color: #14171E;
   }
 
 div.field{
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
 }
 
 div.actions{
   padding-top: 1.5rem;
   padding-bottom: 0.5rem;
 }
 
 
 label,
 input{
   display: block;
 }
 
 div.invalid-feedback{
   display: block;
 }

 .conbanner{
  max-width: 100%;
  height: auto;
}

ul{
  list-style-type: none;
}

h1{
  align-content: center;
}