<main role="main" class="container">

    <h1>New GM Form 2</h1>


    <%= render 'form', user_id: @user.id, gm_form2: @gm_form2%>

<p>
    <%= link_to 'Home', home_path %>
</p>
</main><!-- /.container -->